@use '../base/variables';

.header{
    background-color: $verde;
    .contenido-header{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1{
        color: $blanco;
    }
}
.navegacion-prncipal{
    display: flex;
    gap: 2rem;
    a{
        color: $blanco;
        font-size: 2.4rem;

        &:hover{
            color: $amarillo;
        }
    }
}

@mixin contenedor{ // con @mixin se crea el mixin
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header-contenedor{
    @include contenedor; // con @ include se usa el mixin
}

.nav.contenedor{
    @include contenedor;
}